[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipdb = "*"

[packages]
django = "*"
python-decouple = "*"
"psycopg2" = "*"
djangorestframework = "*"
django-filter = "*"
django-nested-admin = "*"
gunicorn = "*"
django-compressor = "*"
django-compressor-toolkit = "*"
django-npm = "*"
nltk = "*"

[requires]
python_version = "3.6"
