[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipdb = "*"

[packages]
Django = "*"
python-decouple = "*"
"psycopg2" = "*"
djangorestframework = "==3.11.2"
django-filter = "*"
django-nested-admin = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
