.hex-grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  & > .hex:nth-child(odd) {
    margin-left: -150px;
  }

  & > .hex:nth-child(even) {
    margin-right: -150px;
  }

  & > .hex {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;

    width: 100px;
    height: 100px;
    margin-top: -40px;
    padding: 30px;

    cursor: pointer;

    border-radius: 50%;
    background-color: #FFF;
  }

  & > .hex:first-child {
    margin-top: 0;
  }

  & > .hex * {
    color: #000;
  }

  & > .hex > .header {
    font-size: 14px;
    font-weight: bold;

    display: flex;
    align-items: center;
  }

  & > .hex > .header > .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  & > .hex > .header > .icon {
    width: 27px;
    height: 27px;
    margin-right: 10px;

    background-image: url('../img/megaphone.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  & > .hex > .header > .content > span {
    font-size: 12px;

    display: block;
  }

  & > .hex > p {
    font-size: 11px;

    margin-top: 4px;
  }
}
