.manifestation-page {
  position: fixed;

  overflow-y: scroll;

  box-sizing: border-box;
  height: calc(100% - 80px);
  padding: 30px 8vw;

  transition: all .35s cubic-bezier(.55, 0, .1, 1);
  transform: translateY(100%);

  color: #000;
  background-color: #FFF;

  &.-open {
    transform: translateY(0);
  }

  & > strong {
    font-size: 18px;
    font-weight: bold;
  }

  & > p {
    font-size: 14px;
    line-height: 1.5;

    margin-top: 16px;
  }

  & > .close-manifestation {
    position: absolute;
    top: 22px;
    right: 8vw;

    display: inline-block;

    width: 16px;
    height: 16px;
    margin-right: -10px;
    padding: 10px;

    background-image: url('../img/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
}
