.text-box {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: auto;
  height: 100%;
  padding: 1rem;
  
  & > .text {
    text-align: center;
    text-transform: capitalize;

    color: black;
  }
}
