html {
  font-family: 'Roboto';

  width: 100%;

  color: #FFF;
}

body {
  position: relative;

  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;

  width: 100%;

  background-color: #8E6DDF;

  &.-invertedbg {
    background-color: #FFF;
  }

  &.-invertedbg .wrapper {
    overflow: hidden;
  }

  &.-invertedbg svg.-active path {
    fill: #8E6DDF;
  }

  &.-invertedbg .text-box .text {
    color: #FFF;
  }
}

.wrapper {
  position: absolute;
  top: 80px;

  overflow: none;

  width: 100%;
  height: 80vh;

  transition: mask-image .35s cubic-bezier(.55, 0, .1, 1);

  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 10%,rgba(0,0,0,1) 90%,rgba(0,0,0,0) 100%);
}

svg g {
  transition: opacity .35s linear;

  opacity: 1;
}

.-hidden {
  visibility: hidden;

  width: 0;
  height: 0;

  opacity: 0;

  &.-active {
    transition: opacity .3s 0s, visibility 0s .3s, width 0s .3s, height 0s .3s;
  }
}
