html {
  font-family: 'Roboto', sans-serif;

  width: 100%;

  color: #FFF;
}

body {
  position: relative;

  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;

  width: 100%;

  background-color: #8E6DDF;

  &.-invertedbg {
    background-color: #FFF;
  }

  &.-invertedbg .svg-wrapper.-active svg path {
    fill: #8E6DDF;
  }

  &.-invertedbg .text-box .text {
    color: #FFF;
  }
}

.wrapper {
  position: absolute;
  top: 80px;

  overflow-x: hidden;
  overflow-y: scroll;

  width: 100%;
  height: 80vh;

  transition: mask-image .35s cubic-bezier(.55, 0, .1, 1);

  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 10%,rgba(0,0,0,1) 90%,rgba(0,0,0,0) 100%);
}

svg g {
  transition: opacity .35s linear;

  opacity: 1;
}

input {
  font-family: 'Roboto', sans-serif;
}

.-highlight {
  cursor: pointer;
  transition: all .2s cubic-bezier(.19, .01, .03, 1.01);
  text-decoration: none;

  color: #7820E8;
  background-image: linear-gradient(180deg,transparent 65%,rgba(#7820E8, .1) 0);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &:hover {
    background-size: 100% 100%;
  }
}
